.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px 0;
}

input {
    width: 200px;
    height: 30px;
}